html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	vertical-align: baseline;
}

html {
  background-color: #16161A;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.large-text {
  cursor: pointer;
  position: fixed;
  z-index: -3;
  left: 11%;
  top: 7%;
  width: 40vw;
  border-radius: 30px;
  background-color: #16161A;
  text-align: left;
  transition: all 1s;
}

.medium-text {
  position:fixed;
  z-index: -3;
  left:13%;
  top: 15.5%;
  font-size: 5vw;
}

.medium-text-wrapper {
  cursor: pointer;
  width: 30vw;
  text-align: center;
  background-color: #16161A;
  border-radius: 30px;
  margin: 3% 0 3% 0;
  transition: all 1s;
}

.medium-text-wrapper:hover {
  background-color: #22222B;
  transform: translate(1vw,1vw);
}

.large-text:hover {
  background-color: #22222B;
  /* left: 10.5%;
  top:6%; */
  transform: translate(1vw,1vw);
}

.small-text {
  z-index: -5;
  font-size: 1em;
  position: absolute;
  color: #FFFFFE;
  width: 60%;
  height: auto;
  line-height: 4vh;
  background-color: #22222B;
  border-radius: 30px;
  padding: 3vw;
  left:5%;
  top: 5%;
}

.small-text > p {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.back {
  z-index: auto;
  position: relative;
  cursor: pointer;
  left: 80%;
  background-color: #FF8E3C;
  border-radius: 10px;
  text-align: center;
  margin-top: 1vw;
  width: 12%;
  height: auto;
  transition: all 1s;
}

.back:hover {
  transform: scale(1.1);
}

.back-text {
  padding: 7px 20px 7px 20px;
  font-size: .9em;
}

.welcome-text {
  font-size: 10vw;
  padding-left: 2vw;
}

.white-text {
  color: #FFFFFE;
}

.blue-text {
  color: #7F5AF0;
}

.bg-photo {
  z-index:0;
  position:fixed;
  top:13%;
  right:0;
  bottom:-25%;
  left:50%;
  background-image: url(Images/best_outline.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  transition: all 1s;
  transition-timing-function: ease;
}
.animated {
  -webkit-animation: 1400ms pulsate infinite alternate ease-in-out;
  -moz-animation: 1400ms pulsate infinite alternate ease-in-out;
  -ms-animation: 1400ms pulsate infinite alternate ease-in-out;
  -o-animation: 1400ms pulsate infinite alternate ease-in-out;
  animation: 2000ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
  0% { transform: scale(.8); }
  50% { transform: scale(1); }
  100% { transform: scale(.8); }
}
@-webkit-keyframes pulsate {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.05); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulsate {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.05); }
  100% { -moz-transform: scale(1); }  
}
@-ms-keyframes pulsate {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(1.05); }
  100% { -ms-transform: scale(1); }  
}
@-o-keyframes pulsate {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.5); }
  100% { -o-transform: scale(1); }  
}

.delay1600ms {
  animation-delay: -1600ms;
}

.delay1440ms {
  animation-delay: -1440ms;
}

.delay1280ms {
  animation-delay: -1280ms;
}

.delay1120ms {
  animation-delay: -1120ms;
}

.delay960ms {
  animation-delay: -960ms;
}

.delay800ms {
  animation-delay: -800ms;
}

.delay640ms {
  animation-delay: -640ms;
}

.delay480ms {
  animation-delay: -480ms;
}

.delay320ms {
  animation-delay: -320ms;
}

.delay160ms {
  animation-delay: -160ms;
}

.delay1400ms {
  animation-delay: -1400ms;
}

.delay1200ms {
  animation-delay: -1200ms;
}

.delay1000ms {
  animation-delay: -1000ms;
}

.delay800ms {
  animation-delay: -800ms;
}

.delay600ms {
  animation-delay: -600ms;
}

.delay400ms {
  animation-delay: -400ms;
}

.delay200ms {
  animation-delay: -200ms;
}

.lg-square {
  background-color: #7F5AF0;
}

.right-square {
  z-index: -2;
  position:absolute;
  width: 13%;
  height: 25%;
  border-bottom-left-radius: 30px;
  right:0;
  top: 0;
  border-bottom: 4px solid #22222B;
  border-left: 4px solid #22222B;
}

.left-square {
  z-index: -2;
  position:absolute;
  width: 33%;
  height:17%;
  border-top-right-radius: 30px;
  left:0;
  bottom:0;
  border-top: 4px solid #22222B;
  border-right: 4px solid #22222B;
}

.circle-grid {
  z-index: -1;
  position:absolute;
  height: 2vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.right-circle-grid {
  left: 89.5%;
  width: 9vw;
}

.left-circle-grid {
  left: 5%;
  width: 13vw;
}

.right-circle-grid-top {
  top: 21%;
}

.right-circle-grid-bot {
  top: 26.2%;
}

.left-circle-grid-top {
  bottom: 19.6%;
}

.left-circle-grid-bot {
  bottom: 14.3%;
}

.sm-circle {
  width: 25%;
  height: 100%;
  border-radius: 50%;
  margin: 0px 4% 0px 4%;
  border-style: solid;
  border-width: 5px;
}

.black-circle {
  border-color: #16161A;
}

.blue-circle {
  border-color: #7F5AF0;
}
